<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/caredit.css">
    <title>Nuevo producto</title>
    <%- include('parciales/head') %>

</head>

<body>

    <%- include('parciales/header') %>


    <div class="formingreso">
        <form action="/caredit.ejs" method="POST">

            <h2>Agregar un producto a la tienda</h2>

            <p>
                <label for="nombreproducto" class="formu">Nombre del producto</label>
                <input type="text" name="nombreproducto" id="nombreproducto" class="texto">
            </p>

            <p>
                <label for="marca" class="formu">Marca</label>
                <input type="text" name="marca" id="marca" class="texto">
            </p>

            <p>
                <label for="descripcion" class="formu">Descripción</label>
                <input type="text" name="descripcion" id="descripcion" class="texto">
            </p>

            <p>
                <label for="precio" class="formu">Precio</label>
                <input type="text" name="precio" id="precio" class="texto">
            </p>

            <p>
                <label class="formu">Tipo de producto</label>
            <ul class="categorias">
                <li>Gorra: <input type="radio" name="tipoDeProducto" value="gorra" checked></li>
                <li>Aritos: <input type="radio" name="tipoDeProducto" value="arito"></li>
                <li>Cinturon: <input type="radio" name="tipoDeProducto" value="cinturon"></li>
                <li>Colgante: <input type="radio" name="tipoDeProducto" value="colgante"></li>
                <li>Cartera: <input type="radio" name="tipoDeProducto" value="artera"></li>
            </ul>
            </p>

            <p>
                <label class="formu">Selecciona una foto para tu producto</label>
                <input type="file" name="avatar" accept=".jpg">
            </p>

            <div class="botonespie">
                <p>
                    <input type="submit" value="Enviar"></input>
                </p>
                <p>
                    <button type="reset">Reiniciar</button>
                </p>
            </div>


        </form>
    </div>
</body>

<%- include('parciales/footer') %>

</html>